<nav class="navbar" id="home">
  <div class="container">

    <li class="nav-item dropdown list-unstyled">
      <a class="navbar-brand dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Snoop Blogg
      </a>
      <div class="dropdown-menu text-center" aria-labelledby="navbarDropdown">
        <a class="dropdown-item">
          <%= link_to 'Home', root_path, class:'dropdown-item' %>

        <div class="dropdown-divider"></div>
        <% if admin_signed_in? %>

          <%= link_to 'New Post', new_post_path, class:'dropdown-item' %>

        <div class="dropdown-divider"></div>
      
          <%= link_to 'My Account', edit_admin_registration_path, class:'dropdown-item'  %>

        <div class="dropdown-divider"></div>

          <%= link_to 'Logout', destroy_admin_session_path, :method => :delete, class:'dropdown-item' %>

        <% else %>

          <%= link_to 'Login', new_admin_session_path, class:'dropdown-item'  %>

        <% end %>
      </div>
    </li>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item"><%= link_to 'Home', root_path, class:'nav-link' %></li>
        <% if admin_signed_in? %>
        <!--This block is only visible to signed in admins -->
          <li class="nav-item"><%= link_to 'New Post', new_post_path, class:'nav-link' %></li>
          <li class="nav-item"><%= link_to 'My Account', edit_admin_registration_path, class:'nav-link'  %></li>
          <li class="nav-item"><%= link_to 'Logout', destroy_admin_session_path, :method => :delete, class:'nav-link' %></li>
        <!-- The block ends here -->
        <% else %>
          <li class="nav-item"><%= link_to 'Login', new_admin_session_path, class:'nav-link' %></li>
        <% end %>
      </ul>

    </div><!--navbar-collapse-->
  </div><!--container-->
</nav>
